<h2>hola</h2>

<form action="/celebrities/new-celebrity" method="POST">
    <label for="name">Name:</label>
    <input id="name" name="name" type="text"></input>

    <label for="occupation">occupation </label>
    <input id="occupation" name="occupation" type="text"></input>

    <label for="catchPhrase">catchPhrase:</label>
    <input id="catchPhrase" name="catchPhrase" type="text"></input>
    

    <button type="submit">submit</button>
</form>